body {
  margin: 0;
  background-color: #272727;
  padding-top: 140px;
}

hr {
  margin-left: -8px ;
  margin-right: -8px;
  color: #e32249;
}
.about{
  font-family: 'Lato', sans-serif;
  color: #ffffff

}
.about-desc{
  font-family: 'Heebo', sans-serif;
  font-size: 30px;

}
