body {
  margin: 0;
  background-color: #272727;
  padding-top: 140px;
}

hr {
  margin-left: -8px ;
  margin-right: -8px;
  color: #e32249;
}

.hr2{
  margin-bottom:  50px;


}
.about{
  font-family: 'Lato', sans-serif;
  color: #ffffff

}
.about-desc{
  font-family: 'Heebo', sans-serif;
  font-size: 30px;

}

.Skills{
  background-color: #fff;
  margin-top: 100px;
  padding-bottom: 60px;
}

.skilltitle{
  color: #272727;
  font-family: 'Lato', sans-serif;
  padding-top: 60px;

}

.exptitle{
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  padding-bottom: 50px;

}

#Experience{
  margin-top: 80px;
  margin-bottom: 30px;
}



.testimonial-text {
  line-height: 1.5;
  color: #ffffff;
}

.testimonial-image {
  width: 20%;
  margin: 1px;
  border-radius: 100%;
}

.testimonial-image2{
  width: 10%;
  margin: 1px;
  border-radius: 100%;
  margin-top: 60px;
  margin-bottom: 50px;

}

.msptext{
  color: #ffffff;

}

.navbar-brand{
  font-size: 30px !important;
}

.navimage{
  width: 6% !important;
  height:  6% !important;
  margin-right: 6px;
}






















.row{
  margin-right: 0;
  margin-left: 0;

}
.column {
  float: left;
  width: 50%;
      width: 550px;
      padding-right: 30px;
      margin-right: 120px;
      margin-left: 100px;

}
.column2{

    width: 520px;
    margin-left: 100px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#skillli{
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
}

#skillli:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color:#E4E4E4;
    border-radius: 1000px;
}

#skillli:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: #272727;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#skillli.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 50%;
    }
}

#skillli.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 90%;
    }
}

#skillli.js:after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 50%;
    }
}

#skillli.ng:after {
    animation-name: ng;
}

@keyframes ng {
    to {
        width: 60%;
    }
}
